[Unit]
Description=Run btrfs2cloud once a month for the config CONFIG_NAME

[Timer]
OnCalendar=weekly
RandomizedDelaySec=4d
AccuracySec=4d
Persistent=true

[Install]
WantedBy=timers.target
